.container {
    display: flex;
    padding: 5rem;
    font-size: 2rem;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
}
.imgContainer {
    width: 15rem;
    height: 15rem;
    position: relative;
    margin: 0 auto;
}

.table {
    width: 90%;
    border-spacing: 2rem;
}

.name {
    font-weight: 600;
    color: var(--main-font);
    font-size: 2.5rem;
}
.extras {
    font-size: 1.5rem;
}
.total {
    font-weight: 500;
    font-size: 1.8rem;
}

.totalContainer {
    width: 80%;
    max-height: 30rem;
    background-color: var(--main-font);
    padding: 6rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--highlight);
}

.totalTextTitle {
    margin-right: 1rem;
    font-size: 2.5rem;
}

.checkoutBtn {
    height: 30rem;
    align-self: center;
    text-align: center;
    width: 75%;
    background-color: var(--highlight);
    color: var(--main-font);
    font-weight: bold;
    padding: 2rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    transition: all 100ms ease-in-out;
}

.checkoutBtn:hover {
    background-color: #fff;
    transition: all 100ms ease-in-out;
}

.td {
    text-align: center;
}
@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        padding: 0;
    }
    .totalContainer {
        width: 100%;
        align-items: center;
        border: var(--highlight) solid 4px;
    }
    .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .trTitles {
        display: none;
    }
    .tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .imgContainer {
        width: 35vw;
        height: 35vw;
    }
    .name, .total {
        font-size: 2.4rem;
    }
    .extras, .price, .quantity {
        font-size: 2.2rem;
    } 
    .price::before {
        content: "Price : ";
        font-weight: 600;
    }
    .quantity::before {
        content: "Quantity : ";
        font-weight: 600;
    }
    .total::before {
        content: "Total : ";
        font-weight: 600;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0;
    }
    .totalContainer {
        width: 100%;
        align-items: center;
        border: var(--highlight) solid 4px;
    }
    .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .trTitles {
        display: none;
    }
    .tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .imgContainer {
        width: 35vw;
        height: 35vw;
    }
    .name, .total {
        font-size: 2.4rem;
    }
    .extras, .price, .quantity {
        font-size: 2.2rem;
    } 
    .price::before {
        content: "Price : ";
        font-weight: 600;
    }
    .quantity::before {
        content: "Quantity : ";
        font-weight: 600;
    }
    .total::before {
        content: "Total : ";
        font-weight: 600;
    }
}

@media screen and (max-width: 1279px) {
    .totalContainer {
        max-height: 35rem;
    }
    .table {
      width: 95%;  
    }
    .checkoutBtn {
        width: 95%;
    }
}