.container {
    height: calc(80vh - 100px);
    background: url("/images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
}

.item {
    display: flex;
    flex: 1;
}
.item:last-child {
    flex: 2;
padding: 5rem;
justify-content: space-between;
}
.card {
    flex: 1;
    padding: 0 2rem;
}

.title {
    font-size: 3.5rem; 
}

.text {
    font-size: 2.5rem;
    margin-top: .5rem;
}

.city,
.days {
    font-size: 3rem;
    margin: 0;

}

.ellipse {
    background: #fff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
