.container {
    background: #fff;
    padding: 1rem 4rem 0 18rem;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Heading */
.heading {
    display: flex;
    align-items: center;
}

.title {
    font-size: 10rem;
    width: 10ch;
    margin-right: 30rem;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 10rem;
}
.headingQuote {
    font-size: 1.8rem;
    width: 50ch;
}

/* Lines */
.topLine {
    width: 100rem;
    margin: 2rem 0;
}


/* Testimonial Content */
.testimonialContent {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 5rem;
}
.testimonialContainer {
    display: flex;
}
.testimonialText {
    font-size: 2.7rem;
    width: 60ch;
}

/* Image */
.personImg {
    width: 80rem;
    height: 100%;
    position: relative;
    left: -3rem;
    bottom: -15rem;
    z-index: 1;
}

/* Names & Job Title */
.testimonialName {
   text-align: end;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.name {
    font-size: 3rem;
    margin: 0;
}

.job {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 600;
}

.company {
    font-weight: 400;
    color: var(--highlight);
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0;
        height: 50vh;
    }
    .personImg {
        display: none;
    }
    .testimonialContent {
        width: 100%;
    }
    .topLine {
        display: none;
    }
    .headingQuote {
        display: none;
    }
    .testimonialContainer {
        flex-direction: column;
    }
    .testimonialText {
        width: fit-content;
        margin: 0;
        padding: 1.3rem;
        font-size: 1.8rem;

    }
    .testimonialName {
        width: 100%;
        padding: 1rem;
    }
    .name {
        font-size: 2.5rem;   
    }
    .job {
        font-size: 2rem;
    }
    .title {
        width: fit-content;
        margin: 0;
        padding: 1.3rem;
        font-size: 7rem;
        line-height: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0;
        height: 50vh;
    }
    .personImg {
        display: none;
    }
    .testimonialContent {
        width: 100%;
    }
    .topLine {
        display: none;
    }
    .headingQuote {
        display: none;
    }
    .testimonialContainer {
        flex-direction: column;
    }
    .testimonialText {
        width: fit-content;
        margin: 0;
        padding: 1.8rem;
        font-size: 1.8rem;
        font-weight: 500;

    }
    .testimonialName {
        width: 100%;
        padding: 1rem;
        margin-right: 1rem;
    }
    .name {
        font-size: 2.5rem;   
    }
    .job {
        font-size: 2rem;
    }
    .title {
        width: fit-content;
        margin: 0;
        padding: 1.3rem;
        font-size: 7rem;
        line-height: 7rem;
    }
}

@media screen and (max-width: 1279px) {
    .container {
        padding: 1rem 4rem 0 7rem;
    }
    .title {
        margin-right: 8rem;
    }
    .personImg {
        display: none;
    }
}